{% extends "base.html" %}

{% block title %}Detalhes da Reserva{% endblock %}

{% block content %}
<form action="/detalhe_reserva" method="GET">
    <input type="hidden" name="reserva_id" value="{{ reserva['Id'] }}"> 
</form>
<div class="row mt-4">
    <div class="col">
        <h1>Gerenciar Reserva</h1>
        <p><b>Sala:</b> {{ reserva['sala'] }} - {{ reserva['descricao'] }}</p>
        <p><b>Início:</b> {{ reserva['inicio'] }}</p>
        <p><b>Fim:</b> {{ reserva['final'] }}</p>
        <p>Reservado por: {{ reserva['usuario'] }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <h3>Gerar Comprovante</h3>
        <p>Gere o PDF do comprovante de reserva.</p>
        <a href="" class="btn btn-dark">Gerar Comprovante</a>
    </div>
    <div class="col-md-6 mb-4">
        <h3>Cancelar Reserva</h3>
        <p>Você pode cancelar a reserva até 12 horas antes do início da reserva.</p>
        <form action="/cancelar_reserva" method="POST">
            <input type="hidden" name="reserva_id" value="{{ reserva['Id'] }}"> 
            <button class="btn btn-dark">Cancelar Reserva</button>
        </form>
    </div>
</div>
{% endblock %}
