{% extends "base.html" %}

{% block title %}
Minhas Reservas
{% endblock %}

{% block content %}

  <div class="container mt-4">
    <h1>Minhas Reservas</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Sala</th>
          <th>Descrição</th>
          <th>Início</th>
          <th>Fim</th>
        </tr>
      </thead>
      <tbody>
        {% for reserva in reservas %}
        <tr>
          <td>{{ reserva['sala'] }}</td>
          <td>{{ reserva['descricao'] }}</td>
          <td>{{ reserva['inicio'] }}</td>
          <td>{{ reserva['final'] }}</td>
          <td>
            <form action="/detalhe_reserva" method="POST">
                <input type="hidden" name="reserva_id" value="{{ reserva['Id'] }}">
                <button type="submit" class="btn btn-dark">Gerenciar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
